
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>添加决议</title>
</head>

<body>
<style>
button{
	width:100%;
	height:150px;
	font-size:48px;
	}
a[id=fileserver]{
	font-size:60px;
	}
</style>
{% import time %}
{% import re %}

<table width="100%" border="1">

  <tr>
    <th scope="row">通过时间</th>
    <td><select name="start_time_year">
      <option value="{{time.strftime('%Y')}}">{{time.strftime("%Y") }}</option>
      <option value="{{int(time.strftime('%Y'))+1}}">{{int(time.strftime("%Y"))+1 }}</option>
    </select>
      <span>年</span>
      <select name="start_time_month">
        <option value="{{time.strftime('%m')}}" selected>{{time.strftime("%m") }}</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <span>月</span>
      <select name="start_time_day">
        <option value="{{time.strftime('%d')}}" selected>{{time.strftime('%d')}}</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <span>日</span>
      <tr>
        <th scope="row">决议内容</th>
        <td><input type="text" name="content" value=""></td>
      </tr>
      <tr>
        <th scope="row">解决的问题</th>
        <td><input type="text" name="problem" value=""></td>
      </tr>
      <tr>
        <th scope="row">执行人</th>
        <td>
          <select name="executor">
            <option value="1" selected>白高鹏</option>
            {%for vi in users%}
              <option value="{{vi['id']}}">{{vi["name"]}}</option>
              {%end%}
            </select>
          </td>
        </tr>      
</table>

</body>
</html>
