<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

<title>题库</title>
</head>

<body>
<style>

</style>

<table width="100%" border="0">
  <caption style="font-size: 50px;">{{question["title"]}}</caption>
  <tr>
    <th>题目描述</th>
    <td>{{question["title"]}}</td>
  </tr>
  <tr>
    <th>提示</th>
    <td>{{question["notice"]}}</td>
  </tr>
  <tr>
    <th>输入格式</th>
    <td>{{question["input_format"]}}</td>
  </tr>
  <tr>
    <th>输出格式</th>
    <td>{{question["output_format"]}}</td>
  </tr>

</table>
</body>
</html>
