services:
  app:
    image: organization:1.3
    volumes:
      - nfs_volume_organization_File:/projects/organization/organization/templates/File/upload   # NFS远程文件上传目录
      - nfs_volume_organization_Works:/projects/organization/organization/templates/Works/upload  # NFS远程作品上传目录
      - ./db/:/projects/organization/db   # 本地数据库绑定（无需NFS）
    ports:
      - "80:80"
      - "81:22"
    restart: unless-stopped

# # 定义NFS驱动的命名卷
# volumes:
#   upload:
#     driver: local
#     driver_opts:
#       type: nfs
#       o: addr=192.168.100.183,rw,nfsvers=4,soft,timeo=300   # NFSv4优化参数
#       device: ":/nfs_volume/organization/File"   # NFS服务器共享路径

#   Works_upload:
#     driver: local
#     driver_opts:
#       type: nfs
#       o: addr=192.168.100.183,rw,nfsvers=4,soft,timeo=300
#       device: ":/nfs_volume/organization/Works"