
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>后台管理</title>
</head>

<body>
<style>
button{
	width:100%;
	height:150px;
	font-size:48px;
	}
a[id=fileserver]{
	font-size:60px;
	}
</style>

<table width="100%" border="1">
  <tr>
    <th scope="row"><a href="/organization_admin/User/lists">
      <button>用户管理</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/organization_admin/Index/click_statistics">
      <button>访问统计</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/organization_admin/Question/lists">
      <button>试题管理</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/organization_admin/Index/signin_manager">
      <button>签到管理</button>
    </a></th>
  </tr>  
  <tr>
    <th scope="row"><a href="/organization_admin/File/lists">
      <button>文件管理</button>
    </a></th>
  </tr>    
  <tr>
    <th scope="row"><a href="/organization_admin/Resolution/lists">
      <button>决议管理</button>
    </a></th>
  </tr>      
  <tr>
    <th scope="row"><a href="/organization_admin/Competition/lists">
      <button>比赛管理</button>
    </a></th>
  </tr>      
  <tr>
    <th scope="row"><a href="/organization_admin/Exam/lists">
      <button>认证管理</button>
    </a></th>
  </tr>       
  <tr>
    <th scope="row"><a href="/organization_admin/Record/lists">
      <button>实录管理</button>
    </a></th>
  </tr>          
</table>

</body>
</html>
