
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>签到管理</title>
</head>

<body>
<style>
button{
	width:100%;
	height:150px;
	font-size:48px;
	}
a[id=fileserver]{
	font-size:60px;
	}
</style>

<table width="100%" border="1">
  <tr>
    <th scope="row"><a href="/organization_admin/Index/add_expected_signin">
      <button>添加活动时间</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/organization_admin/Signin/expected_signin_time_lists">
      <button>应签日期列表</button>
    </a></th>
  </tr>  
  <tr>
    <th scope="row"><a href="/organization_admin/Index/click_statistics">
      <button>访问统计</button>
    </a></th>
  </tr>
</table>

</body>
</html>
