
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>社团简介</title>
</head>

<body>
<style>
button{
	width:100%;
	height:150px;
	font-size:48px;
	}
a[id=fileserver]{
	font-size:60px;
	}
</style>


<p >《机器人编程社团》<br>
  &nbsp;<br>
  一、开设意义<br>
  &nbsp;<br>
  （一）软件方面<br>
  &nbsp;<br>
  1.&nbsp;基础层次：通过图形化编程工具&nbsp;Scratch，培养学生对编程的初步认知和兴趣，让他们以直观有趣的方式了解编程逻辑和基本概念。<br>
  2.&nbsp;中间层次：使用&nbsp;Python&nbsp;进行编程，进一步提升学生的编程能力，能够处理更复杂的任务和项目。<br>
  3.&nbsp;高级深层次：利用&nbsp;C++或&nbsp;Python&nbsp;进行算法和&nbsp;AI&nbsp;相关的实现，拓展学生在编程领域的深度和广度，为未来从事相关领域工作或研究打下坚实基础。<br>
  &nbsp;<br>
  （二）硬件方面<br>
  &nbsp;<br>
  1.&nbsp;基础层次：以图形化块状方式（如&nbsp;Scratch）控制&nbsp;EV3&nbsp;编程，让学生熟悉硬件控制的基本原理。<br>
  2.&nbsp;中间层次：通过&nbsp;Scratch&nbsp;方式控制arduino，加深对硬件与软件结合的理解。<br>
  3.&nbsp;高级层次：运用&nbsp;Python&nbsp;方式控制arduino或进行arduino的整个再构造，使用&nbsp;32&nbsp;芯片重新设计和制作arduino板子，提升学生的硬件创新和实践能力。<br>
  &nbsp;<br>
  二、实施方案<br>
  &nbsp;<br>
  1.&nbsp;根据学生的不同基础和兴趣，进行分层教学，安排相应层次的课程和项目。 <br>
  <img src="{{static_url('organization/templates/Publicity/res/index_wps1_0000.jpg')}}" alt="" width="554" height="356" ><br>
  2.&nbsp;定期举办编程比赛、项目展示等活动，激发学生的学习热情和竞争意识。 <br>
  我们通过组内评比，社团评比后选出优秀作品代表学校参加校外比赛 <br>
  <a href="http://192.168.100.252/organization/Works/lists" target="_blank"><img src="{{static_url('organization/templates/Publicity/res/index_wps2_0000.jpg')}}" alt="" width="553" height="312" ></a><br>
  3.&nbsp;邀请业界专家进行讲座和指导，让学生了解行业最新动态。 <br>
  我们通过连线一些行业从业者沟通一些技术问题，也带学生参加技术讲座，从而提高开阔了学生技术眼界，坚定了科技报国的决心。 <br>
  （图片没有保存好） <br>
  <br>
  4.&nbsp;与其他学校的机器人社团进行交流与合作，拓宽学生视野。<br>
  我们利用节假日时间参加一些比赛，通过比赛构建与其他学校的交流，扩宽学生视野。 </p>
<p ><img src="{{static_url('organization/templates/Publicity/res/index_wps3_0000.jpg')}}" alt="" width="362" height="391" ></p>
<p ><img src="{{static_url('organization/templates/Publicity/res/wx_camera_1693214572215.jpg')}}" width="656" height="624"><br>
  三、过程性材料<br>
  &nbsp;<br>
  1.&nbsp;学生的编程作品、项目报告等，展示不同阶段的学习成果。 <br>
  <a href="http://192.168.100.252" ><u>http://192.168.100.252</u></a>这是我们社团的学习网站，所有成员作品都在上面（有一个我的账号可以作为领导测试之用（用户名：17630315070，密码：021415）） <br>
  <br>
  2.&nbsp;社团活动的照片、视频记录，体现社团的活力和氛围。 </p>
<p >    <video controls width="500">
    <source src="{{static_url('organization/templates/Publicity/res/1.mp4')}}" type="video/mp4" />
Your browser does not support the video tag.
	</video>
<br>
  3.&nbsp;学生的学习心得、反思总结等，反映学生的成长和进步。<br>
  4.&nbsp;教师的教学计划、教案、评价记录等，确保教学质量和效果。<br>
  &nbsp;<br>
  希望通过机器人编程社团的开展，能够培养出具有创新精神、实践能力和团队合作意识的优秀学生，为他们的未来发展助力。 </p>
</body>
</html>
