
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的入口</title>
</head>

<body>
<style>
button{
	width:100%;
	height:150px;
	font-size:48px;
	}
a[id=fileserver]{
	font-size:60px;
	}
</style>

<table width="100%" border="1">
  <tr>
    <th scope="row"><a href="/organization/Publicity/index">
      <button>社团简介</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/organization/Question/select">
      <button>竞赛</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/fileserver">
      <button>相关下载</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/organization/Works/lists" onClick="getNowTime()" id="shetuanzuopin">
      <button>成员作品</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/organization/User/lists" onClick="getNowTime()" id="shetuanzuopin2">
      <button>成员名单</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/organization/Resolution/lists" onClick="getNowTime()" id="shetuanzuopin3">
      <button>决议</button>
    </a></th>
  </tr>
</table>
</body>
</html>
